LLM_PROVIDER="gemini"
EMBEDDING_PROVIDER="gemini"
CORS_ORIGINS="http://localhost:5173"

GOOGLE_API_KEY="your-google-api-key-here"
GEMINI_CHAT_MODEL="gemini-3-flash-preview"
GEMINI_EMBED_MODEL="gemini-embedding-001"

SERPER_API_KEY="your-serper-api-key-here"
SLACK_WEBHOOK_URL="https://hooks.slack.com/services/your/path/here"
MAX_INPUT_CHARS="2000"
MAX_TRANSFER_AMOUNT="20000"

POSTGRES_DB="cloudwalk"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/cloudwalk"

VITE_API_URL="http://localhost:8000"
